<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Water Blob</string>
		<key>type</key>
		<string>water</string>
		<key>image_file</key>
		<string>boob3</string>
		<key>movement_type</key>
		<string>flying</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dirt Blob</string>
		<key>type</key>
		<string>earth</string>
		<key>image_file</key>
		<string>boob1</string>
		<key>movement_type</key>
		<string>flying</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Fire Buzzer</string>
		<key>type</key>
		<string>fire</string>
		<key>image_file</key>
		<string>buggy</string>
		<key>movement_type</key>
		<string>flying</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Burrow Buzzer</string>
		<key>type</key>
		<string>earth</string>
		<key>image_file</key>
		<string>buggy2</string>
		<key>movement_type</key>
		<string>flying</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Flying Javels</string>
		<key>type</key>
		<string>air</string>
		<key>image_file</key>
		<string>cheeks</string>
		<key>movement_type</key>
		<string>flying</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sand Javels</string>
		<key>type</key>
		<string>earth</string>
		<key>image_file</key>
		<string>cheeks2</string>
		<key>movement_type</key>
		<string>flying</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Water Pranzer</string>
		<key>type</key>
		<string>water</string>
		<key>image_file</key>
		<string>fishy</string>
		<key>movement_type</key>
		<string>flying</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sand Pranzer</string>
		<key>type</key>
		<string>earth</string>
		<key>image_file</key>
		<string>fishy2</string>
		<key>movement_type</key>
		<string>flying</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Water Mantis</string>
		<key>type</key>
		<string>water</string>
		<key>image_file</key>
		<string>man-tuss_blue</string>
		<key>movement_type</key>
		<string>flying</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Forest Mantis</string>
		<key>type</key>
		<string>air</string>
		<key>image_file</key>
		<string>man-tuss</string>
		<key>movement_type</key>
		<string>flying</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Fire Mage</string>
		<key>type</key>
		<string>fire</string>
		<key>image_file</key>
		<string>newmeanie4</string>
		<key>movement_type</key>
		<string>flying</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Earth Mage</string>
		<key>type</key>
		<string>earth</string>
		<key>image_file</key>
		<string>newmeanie3</string>
		<key>movement_type</key>
		<string>flying</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lava Hogward</string>
		<key>type</key>
		<string>fire</string>
		<key>image_file</key>
		<string>piggy</string>
		<key>movement_type</key>
		<string>flying</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Gas Hogward</string>
		<key>type</key>
		<string>air</string>
		<key>image_file</key>
		<string>piggy2</string>
		<key>movement_type</key>
		<string>flying</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Fire Oni</string>
		<key>type</key>
		<string>fire</string>
		<key>image_file</key>
		<string>sam</string>
		<key>movement_type</key>
		<string>flying</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ghost Oni</string>
		<key>type</key>
		<string>air</string>
		<key>image_file</key>
		<string>sam2</string>
		<key>movement_type</key>
		<string>flying</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lava Pigan</string>
		<key>type</key>
		<string>fire</string>
		<key>image_file</key>
		<string>Ved</string>
		<key>movement_type</key>
		<string>flying</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ghost Pigan</string>
		<key>type</key>
		<string>air</string>
		<key>image_file</key>
		<string>Ved2</string>
		<key>movement_type</key>
		<string>flying</string>
	</dict>
</array>
</plist>
